<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chillinker</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/collection-detail.css" />
  <link rel="stylesheet" href="/css/frame.css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
  </style>
  <script
    src="https://kit.fontawesome.com/0b832ce4c1.js"
    crossorigin="anonymous"
  ></script>
  <link
    rel="icon"
    type="image/png"
    sizes="16×16"
    href="/logo_image/favicon-16x16.png"
  />
</head>
<body>
  <div class="wrap">
  <%- include('../header.ejs') %>
  <main>
    <div class="collection_wrap">
      <div class="collection" id="collectionId-<%= collectionInfo.id%>">
        <div class="collection_detail_info">
          <ul>
            <li class="collection_title"><%= collectionInfo.title%></li>
            <li class="collection_desc"><%= collectionInfo.desc%></li>
            <li class="collection_user_nickname">
              <a href='/users/<%= collectionInfo.user.id%>'>
                만든이: <%= collectionInfo.user.nickname%>
              </a>
            </li>
            <li class="contents_number">
              작품수: <%= blindWebContents.length%>
            </li>
            <li class="collection_bookmarked_number">
              북마크수: <%= collectionInfo.collectionBookmarks.length || 0%>
            </li>
          </ul>
        </div>
        <div class="contents_list_container">
          <% if (blindWebContents.length === 0) { %>
            <h1 class="no-content">아직 컬렉션에 작품이 없습니다. 작품을 추가해보세요!</h1>
          <% } %>
          <% blindWebContents.forEach((item,index) => { %>
            <span class="contentId" id="contentId-<%= index %>" style="display:none;"><%= item.id %></span>
            <div class="content"  id="contentBtn-<%= index %>" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= isAdult.isAdult %>')">
              <img src="<%= item.image %>" alt="작품 표지" />
              <div class="content_info">
                <h3 class="contents_title"><%= item.title %></h3>
                <h4 class="contents_category"><%= item.category %></h4>
                <h4 class="contents_author"><%= item.author %></h4>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/adult_blind.js"></script>
  <%- include('../footer.ejs') %>
</div>
</body>
