<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chillinker</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
    </style>
    <script
      src="https://kit.fontawesome.com/0b832ce4c1.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      type="image/png"
      sizes="16×16"
      href="/logo_image/favicon-16x16.png"
    />
  </head>
  <body>
    <%- include('header.ejs') %>
    <main>
      <div class="collection_wrap">
        <div class="collection_detail_info">
          <ul>
            <li class="collection_title"><%= ${collections_title} /%></li>
            <li class="collection_desc"><%= ${collections_desc} /%></li>
            <li class="collection_user_nickname">만든이:<%= ${collections_user.users_nickname} /%></li>
            <li class="contents_number">작품수: <%= ${webContents.length} /%></li>
            <li class="collection_bookmarked_number">북마크수:<%= ${collections_bookmarks.length} /%></li>
          </ul>
        </div>
        <div class="contents_container">
          <div class="content" href="#작품상세페이지">
            <img src="<%= item.image %>" alt="작품 표지"/>
            <h3 class="contents_title">제목: <%= item.title %></h3>
            <h4 class="contents_category">장르: <%= item.category %></h4>
            <h4 class="contents_author">작가: <%= item.author %></h4>
          </div>
          <div class="content" href="#작품상세페이지">
            <img src="<%= item.image %>" alt="작품 표지"/>
            <h3 class="contents_title">제목: <%= item.title %></h3>
            <h4 class="contents_category">장르: <%= item.category %></h4>
            <h4 class="contents_author">작가: <%= item.author %></h4>
          </div>
        </div>
      </div>
    </main>
    <%- include('footer.ejs') %>
  </body>
</html>
