<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chillinker</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/collection.css">
  <link rel="stylesheet" href="/css/colllection_modal.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
  </style>
  <script
    src="https://kit.fontawesome.com/0b832ce4c1.js"
    crossorigin="anonymous"
  ></script>
  <link
    rel="icon"
    type="image/png"
    sizes="16×16"
    href="/logo_image/favicon-16x16.png"
  />
</head>
<body>
  <%- include('../header.ejs') %>
  <main>
    <div class="collection-list-upper">
      <h3><%= users.nickname %>님의 컬렉션</h3>
      <button class="add_collection_btn" id="add_collection_btn-<%= index %>">+새 컬렉션</button>
    </div>
    <div class="collections_container">
      <% collection.forEach((item, index)=> { %>
        <div class="collection" href="/info/<%= item.id %>">
          <div class="collection_upper">
            <img class="collection_img"
              src="<%= item.coverImage%>"
              alt="커버이미지"
              onerror="this.src='/logo_image/chillinker_logo(2).png'"
            />
            <div class="contents_number">
              작품수: <%= item.webContents.length || 0%>
            </div>
          </div>
          <div class="collection_info">
            <ul>
              <li class="collection_title"><%= item.title %></li>
              <li class="collection_desc"><%= item.desc %></li>
              <li class="collection_bookmarked_number"><%= item.bookmarkCount %></li>
              <li class="collection_btn_group">
                <button class="collection_content_adjust_btn" id="collection_content_adjust_btn-<%= index %>">작품관리</button>
                <button class="collection_edit_btn" id="collection_edit_btn-<%= index %>">수정</button>
                <button class="collection_delete_btn" id="collection_delete_btn-<%= index %>">삭제</button>
              </li>
            </ul>
            <!-- 컬렉션 내 컨텐츠 삭제 모달창 -->
            <div class="modal">
              <div class="collection_modal">
                <span class="close">&times;</span>
                <h3 class="modal_title">컬렉션 컨텐츠 삭제</h3>
                <div class="modal_content">
                  <form
                    name="delete_content_form"
                    method="delete"
                    action="/collections/<%= item.id %>/content/<%= item.webContents.webContentId %>"
                    id="deleteContentForm"
                  >
                    <ul class="delete_content_list">
                      <li>
                        <label for="title">컨텐츠 제목</label>
                        <input type="submit" value="삭제" />
                      </li>
                    </ul>
                    <div class="btn_area">
                      <input type="submit" value="완료" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- 컬렉션 수정 모달창 -->
            <div class="modal">
              <div class="collection_modal">
                <span class="close">&times;</span>
                <h3 class="modal_title">컬렉션 수정</h3>
                <div class="modal_content">
                  <form
                    name="update_collection_form"
                    method="post"
                    enctype="multipart/form-data"
                    id="updateCollectionForm"
                  >
                    <label for="cover">컬렉션 이미지 업로드</label>
                    <br />
                    <input type="file" name="cover" id="cover" accept="image/*" />
                    <input type="submit" value="" />
                    <br />
                    <label for="title">컬렉션 제목</label>
                    <input type="text" name="title" id="title" value="<%= item.title %>" />
                    <br />
                    <label for="desc">컬렉션 설명</label>
                    <textarea name="desc" id="" cols="30" rows="10" ><%= item.desc %></textarea>
                    <br />
                    <div class="btn_area">
                      <input type="submit" value="완료" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
    <!-- 컬렉션 생성 모달창 -->
    <div class="modal">
      <div class="collection_modal" id="collectionModal">
        <span class="close">&times;</span>
        <h3 class="modal_title">새 컬렉션</h3>
        <div class="modal_content">
          <form
            name="add_collection_form"
            method="post"
            enctype="multipart/form-data"
            id="addCollectionForm"
          >
            <label for="cover">컬렉션 이미지 업로드</label>
            <br />
            <input type="file" name="cover" id="cover" accept="image/*" />
            <br />
            <label for="title">컬렉션 제목</label>
            <input type="text" name="title" id="title" value="" />
            <br />
            <label for="desc">컬렉션 설명</label>
            <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
            <br />
            <div class="btn_area">
              <input type="submit" value="완료" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/mycollection_list.js"></script>
  <%- include('../footer.ejs') %>
</body>
