<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chillinker</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
    </style>
    <script
      src="https://kit.fontawesome.com/0b832ce4c1.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      type="image/png"
      sizes="16×16"
      href="/logo_image/favicon-16x16.png"
    />
  </head>
  <body>
    <%- include('header.ejs') %>
    <main>
      <h3><%= ${users_nickname} /%>님의 컬렉션</h3>
      <div class="collections_container">
        <div class="collection" href="#컬렉션상세페이지">
          <div class="collection_upper">
            <img class="collection_img"
              src="#"
              alt="/logo_image/chillinker_logo(2).png"
            />
            <div class="contents_number">작품수: <%= ${webContents.length} /%></div>
          </div>
          <div class="collection_info">
            <ul>
              <li class="collection_title"><%= ${collections_title} /%></li>
              <li class="collection_desc"><%= ${collections_desc} /%></li>
              <li class="collection_bookmarked_number"><%= ${collections_bookmarks.length} /%></li>
              <li class="collection_btn_group">
                <a class="collection_update_btn">수정</a>
                <a class="collection_delete_btn">삭제</a>
              </li>
            </ul>
            <div class="add_collection_modal">
              <h2>컬렉션 수정</h2>
              <form>
                <!-- 파일첨부하는 부분 -->
                <input title/>
                <input desc/>
              </form>
              <button class="add_col_cancle_btn">취소</button>
              <button class="add_col_execute_btn" href="#?맞나?">확인</button>
            </div>
          </div>
        </div>
        <div class="collection" href="#컬렉션상세페이지">
          <div class="collection_upper">
            <img class="collection_img"
              src="#"
              alt="/logo_image/chillinker_logo(2).png"
            />
            <div class="contents_number">작품수: <%= ${webContents.length} /%></div>
          </div>
          <div class="collection_info">
            <ul>
              <li class="collection_title"><%= ${collections_title} /%></li>
              <li class="collection_desc"><%= ${collections_desc} /%></li>
              <li class="collection_bookmarked_number"><%= ${collections_bookmarks.length} /%></li>
              <li class="collection_btn_group">
                <a class="collection_update_btn">수정</a>
                <a class="collection_delete_btn">삭제</a>
              </li>
            </ul>
            <div class="add_collection_modal">
              <h2>컬렉션 수정</h2>
              <form>
                <!-- 파일첨부하는 부분 -->
                <input title/>
                <input desc/>
              </form>
              <button class="add_col_cancle_btn">취소</button>
              <button class="add_col_execute_btn" href="#?맞나?">확인</button>
            </div>
          </div>
        </div>
      </div>
      <div class="add_collection_modal">
        <h2>새 컬렉션 만들기</h2>
        <form>
          <!-- 파일첨부하는 부분 -->
          <input title/>
          <input desc/>
        </form>
        <button class="add_col_cancle_btn">취소</button>
        <button class="add_col_execute_btn" href="#?맞나?">확인</button>
      </div>
      <button class="add_collection_btn">+새 컬렉션</button>
    </main>
    <%- include('footer.ejs') %>
  </body>
</html>
