<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chillinker following list</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/following.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="16×16"
      href="/logo_image/favicon-16x16.png"
    />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
      </style>
      <script
        src="https://kit.fontawesome.com/0b832ce4c1.js"
        crossorigin="anonymous"
      ></script>
      <link
      rel="icon"
      type="image/png"
      sizes="16×16"
      href="/logo_image/favicon-16x16.png"
    />
</head>
<body>
    <div class="wrap">
      <%- include('header.ejs') %>
        <main>
          <div class="inner">
            <div class="following_title">
                <span>팔로잉</span>
            </div>
            <ul class="following_list">
              <% followingList.forEach(function(following,index) { %>
                <li>
                    <a class="profile_link" href='/users/<%= following.followings_id %>'>
                      <span class="followId" id="followId-<%= index %>" style="display:none;"><%= following.followings_id %></span>
                      <% if (following.followings_profile_image) { %>
                        <img src="<%= following.followings_profile_image %>" alt="profile image">
                    <% } else { %>
                        <img src="/logo_image/chillinker_logo(2).png" alt="default profile image">
                    <% } %>
                        <span class="name"><%= following.followings_nickname %></span>
                        <span class="intro"><%= following.followings_email %></span>
                    </a>
                    <button class="unfollowing_btn" id="<%= following.followings_id %>-<%= index %>" data-is-following="<%= following.followings %>">
                      <% if (following.isFollowing) { %>
                          언팔로잉
                      <% } else { %>
                          언팔로잉
                      <% } %>
                  </button>
                </li>
                <% }); %>
            </ul>
          </div>
        </main>
        <%- include('footer.ejs') %>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="/js/follow.js"></script>
    </body>
</html>