<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chillinker</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/frame.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
    </style>
    <script
      src="https://kit.fontawesome.com/0b832ce4c1.js"
      crossorigin="anonymous">
    </script>
    <link rel="icon" type="image/png" sizes="16×16" href="/logo_image/favicon-16x16.png"/>
  </head>
  <body>
    <div class="wrap">
      <%- include('header.ejs') %>
      <main>
        <div class="inner">
          <div class="ranking_box">
            <div class="kakao_webtoon_rank">
              <h2 class="ranking_title">카카오 페이지 인기 순위_웹툰</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% kakaoWebtoons.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_category">장르: <%= item.category %></h4>
                        <!-- <h4 class="contents_reviewCount">리뷰 개수: <%= item.reviewCount %></h4> -->
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                   
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
          <div class="ranking_box">
            <div class="kakao_webnovel_rank">
              <h2 class="ranking_title">카카오 페이지 인기 순위_웹소설</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% kakaoWebnovels.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_category">장르: <%= item.category %></h4>
                        <!-- <h4 class="contents_reviewCount">리뷰 개수: <%= item.reviewCount %></h4> -->
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
          <div class="ranking_box">
            <div class="naver_webtoon_rank">
              <h2 class="ranking_title">네이버 시리즈 인기 순위_웹툰</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% naverWebtoons.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                       
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_category">장르: <%= item.category %></h4>
                        <!-- <h4 class="contents_reviewCount">리뷰 개수: <%= item.reviewCount %></h4> -->
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
          <div class="ranking_box">
            <div class="naver_webnovel_rank">
              <h2 class="ranking_title">네이버 시리즈 인기 순위_웹소설</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% naverWebnovels.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_category">장르: <%= item.category %></h4>
                        <!-- <h4 class="contents_reviewCount">리뷰 개수: <%= item.reviewCount %></h4> -->
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
    
          <div class="ranking_box">
            <div class="ridi_webtoon_rank">
              <h2 class="ranking_title">리디북스 인기 순위_웹툰</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% ridiWebtoons.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_category">장르: <%= item.category %></h4>
                        <!-- <h4 class="contents_reviewCount">리뷰 개수: <%= item.reviewCount %></h4> -->
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
          <div class="ranking_box">
            <div class="ridi_webnovel_rank">
              <h2 class="ranking_title">리디북스 인기 순위_웹소설</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% ridiWebnovels.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_category">장르: <%= item.category %></h4>
                        <!-- <h4 class="contents_reviewCount">리뷰 개수: <%= item.reviewCount %></h4> -->
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
          <div class="ranking_box">
            <div class="mrblue_webtoon_rank">
              <h2 class="ranking_title">미스터블루 인기 순위_웹툰</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% mrblueWebtoons.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_category">장르: <%= item.category %></h4>
                        <!-- <h4 class="contents_reviewCount">리뷰 개수: <%= item.reviewCount %></h4> -->
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                     
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
          <div class="ranking_box">
            <div class="mrblue_webnovel_rank">
              <h2 class="ranking_title">미스터블루 인기 순위_웹소설</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% mrblueWebnovels.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                      
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_category">장르: <%= item.category %></h4>
                        <!-- <h4 class="contents_reviewCount">리뷰 개수: <%= item.reviewCount %></h4> -->
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
          <script src="/js/script.js"></script>
        </div>
      </main>
      <%- include('footer.ejs') %>
    </div>
    <script src="/js/adult_blind.js"></script>
  </body>
</html>
