<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chillinker</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/frame.css" />
    <link rel="stylesheet" href="/css/mainReview.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
    </style>
    <script
      src="https://kit.fontawesome.com/0b832ce4c1.js"
      crossorigin="anonymous">
    </script>
    <link rel="icon" type="image/png" sizes="16×16" href="/logo_image/favicon-16x16.png"/>
  </head>
  <body>
    <nav class="main-nav">
      <ul>
        <li><a href="/category?query=로맨스">로맨스</a></li>
        <span>|</span>
        <li><a href="/category?query=로판">로판</a></li>
        <span>|</span>
        <li><a href="/category?query=판타지">판타지</a></li>
        <span>|</span>
        <li><a href="/category?query=현판">현판</a></li>
        <span>|</span>
        <li><a href="/category?query=무협">무협</a></li>
        <span>|</span>
        <li><a href="/category?query=BL">BL</a></li>
        <span>|</span>
        <li><a href="/category?query=소년%20드라마%20추리">일반</a></li>
      </ul>
    </nav>
    <div class="head-title">
      <h3 class="top-title">지금 뜨는 코멘트</h3>
      <a href="/rank/reviews">
      <span class="review-more">더보기</span>
    </a>
    </div>
    <div class="top-review-list-container">
      <div class="card_container">
        <button class="prev-button">‹</button>
        <div class="slider">
          <div class="contents_box">
      <ul class="top-review-section">
        <!-- 리뷰카드 시작 -->
        <% top3Reviews.forEach((item,index) => { %>
        <li class="review-card" id="reviewId-<%= index %>" val="<%= item.cReviews_id %>">
          <article>
            <a class="writer-container" href="/users/<%= item.users_id %>">
              <img
                src="<%= item.users_profile_image %>"
                alt="프로필사진"
                onerror="this.src='/logo_image/chillinker_logo(1).png'"
                class="profile-img"
              />
              <div class="reivewer-info">
              <div class="reviewer-id-and-rate">
              <span class="reviewer_id"><%= item.users_nickname %></span>
            </a>
              <span class="reviewer_id">별점: <%= item.cReviews_rate %></span>
    </div>
        </div>
              <div class="review_date"><%= item.cReviews_created_at %></div>
            <div class="review-content-web-info-container">
                <a class="webContent-container" href="/books/<%= item.id %>">
                    <img
                      src="<%= item.image %>"
                      alt="작품사진"
                      onerror="this.src='/logo_image/chillinker_logo(1).png'"
                      class="webContent-img"
                    />
                    <div class="webContent-info-container">
                    <span class="webContent-title-info"><%= item.title %></span>
                  </a>
                  <div class="webContent-info-con">
                    <%= item.cReviews_content %>
                  </div>
                </div>
            </div>
            <hr class="css-line">
            <div class="like-container">
                <div class="review-like-btn-wrapper">
                    <button type="button"  id="likeBtn-<%= index %>" class="my-rui_button_white_25">
                      <span class="rui_button_contents">
                        <span class="rui_button_icon"></span>
                        <span class="rui_button_text">
                          <span class="indent_hidden">👍</span>
                          <span class="like_count js_like_count"><%= item.cReviews_like_count %></span>
                        </span>
                      </span>
                    </button>
                  </div> 
            </div>
          </article>
        </li>
        <% }) %>
      </ul>
    </div>
    </div>
    <button class="next-button">›</button>
  </div>
</div>
    <div class="wrap">
      <%- include('header.ejs') %>
      <main>
        <div class="inner">
          <div class="ranking_box">
            <div class="kakao_webtoon_rank">
              <h2 class="ranking_title">카카오 페이지 인기 순위_웹툰</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% kakaoWebtoons.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                   
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
          <div class="ranking_box">
            <div class="kakao_webnovel_rank">
              <h2 class="ranking_title">카카오 페이지 인기 순위_웹소설</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% kakaoWebnovels.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
          <div class="ranking_box">
            <div class="naver_webtoon_rank">
              <h2 class="ranking_title">네이버 시리즈 인기 순위_웹툰</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% naverWebtoons.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
          <div class="ranking_box">
            <div class="naver_webnovel_rank">
              <h2 class="ranking_title">네이버 시리즈 인기 순위_웹소설</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% naverWebnovels.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
    
          <div class="ranking_box">
            <div class="ridi_webtoon_rank">
              <h2 class="ranking_title">리디북스 인기 순위_웹툰</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% ridiWebtoons.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
          <div class="ranking_box">
            <div class="ridi_webnovel_rank">
              <h2 class="ranking_title">리디북스 인기 순위_웹소설</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% ridiWebnovels.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
          <div class="ranking_box">
            <div class="mrblue_webtoon_rank">
              <h2 class="ranking_title">미스터블루 인기 순위_웹툰</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% mrblueWebtoons.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                     
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>
          <div class="ranking_box">
            <div class="mrblue_webnovel_rank">
              <h2 class="ranking_title">미스터블루 인기 순위_웹소설</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <% mrblueWebnovels.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                      
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>

          <div class="ranking_box">
            <div class="like_webnovel_rank">
              <h2 class="ranking_title">일간 좋아요 인기 순위_웹소설</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <%  bestlikeWebnovels.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_category">장르: <%= item.category %></h4>
                        <!-- <h4 class="contents_reviewCount">리뷰 개수: <%= item.reviewCount %></h4> -->
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>

          <div class="ranking_box">
            <div class="like_webtoon_rank">
              <h2 class="ranking_title">일간 좋아요 인기 순위_웹툰</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <%  bestlikeWebtoons.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_category">장르: <%= item.category %></h4>
                        <!-- <h4 class="contents_reviewCount">리뷰 개수: <%= item.reviewCount %></h4> -->
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>

          <div class="ranking_box">
            <div class="review_webnovel_rank">
              <h2 class="ranking_title">일간 댓글 인기 순위_웹소설</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <%  bestReviewedWebnovels.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_category">장르: <%= item.category %></h4>
                        <!-- <h4 class="contents_reviewCount">리뷰 개수: <%= item.reviewCount %></h4> -->
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>

          <div class="ranking_box">
            <div class="like_webtoon_rank">
              <h2 class="ranking_title">일간 댓글 인기 순위_웹툰</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <%  bestReviewedWebtoons.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_category">장르: <%= item.category %></h4>
                        <!-- <h4 class="contents_reviewCount">리뷰 개수: <%= item.reviewCount %></h4> -->
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>

          <div class="ranking_box">
            <div class="col_webnovel_rank">
              <h2 class="ranking_title">일간 컬렉션 인기 순위_웹소설</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <%  bestCollectionedWebnovels.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_category">장르: <%= item.category %></h4>
                        <!-- <h4 class="contents_reviewCount">리뷰 개수: <%= item.reviewCount %></h4> -->
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>

          <div class="ranking_box">
            <div class="col_webtoon_rank">
              <h2 class="ranking_title">일간 컬렉션 인기 순위_웹툰</h2>
              <div class="card_container">
                <button class="prev-button">‹</button>
                <div class="slider">
                  <div class="contents_box">
                    <%  bestCollectionedWebtoons.forEach((item) => { %>
                      <div class="contents" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        
                        <img src="<%= item.image %>" alt="작품 표지"/>
                        <h3 class="contents_title"><%= item.title %></h3>
                        <h4 class="contents_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </h4>
                        <h4 class="contents_category">장르: <%= item.category %></h4>
                        <!-- <h4 class="contents_reviewCount">리뷰 개수: <%= item.reviewCount %></h4> -->
                        <h4 class="contents_ranking">랭킹: <%= item.ranking %></h4>
                      
                      </div>
                    <% }); %>
                  </div>
                </div>
                <button class="next-button">›</button>
              </div>
            </div>
          </div>

          <script src="/js/script.js"></script>
        </div>
      </main>
      <%- include('footer.ejs') %>
    </div>
    <script src="/js/adult_blind.js"></script>
    <script src="/js/topReview.js"></script>
  </body>
</html>
