<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chillinker</title>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />
  <link rel="stylesheet" href="/css/mypage.css" />
  <link rel="stylesheet" href="/css/frame.css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
  </style>
  <script
    src="https://kit.fontawesome.com/0b832ce4c1.js"
    crossorigin="anonymous"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link
    rel="icon"
    type="image/png"
    sizes="16×16"
    href="/logo_image/favicon-16x16.png"
  />
</head>

<body>
  <%- include('header.ejs') %>
  <!-- <main> -->
  <div class="mypage-wrapper">
    <span class="tooltip material-symbols-outlined" id="profile-edit-btn">
      settings
      <span class="tooltiptext">프로필 수정하기</span>
    </span>
    <% if(isAdmin === 0) { %>
    <span class="tooltip material-symbols-outlined" id="adult-verify-btn">
      domain_verification
      <span class="tooltiptext">성인 인증하기</span>
    </span>
    <% } %>
    <img
      src="<%= user.profileImage %>"
      alt="프로필사진"
      onerror="this.src='/logo_image/chillinker_logo(2).png'"
      class="profile-img"
    />
    <h2><%= user.nickname %></h2>
    <h5><span class="profile-intro"><%= user.intro %></span></h5>
    <button class="profile-btn-small" id="profile-following">팔로잉</button>
    <button class="profile-btn-small" id="profile-follower">팔로워</button>
    <button class="profile-btn" id="profile-review">내 리뷰</button>
    <button class="profile-btn" id="profile-like">좋아요</button>
    <button class="profile-btn" id="profile-col">내 컬렉션</button>
    <button class="profile-btn" id="profile-bookmark-col">
      내가 북마크한 컬렉션
    </button>
    <% if(isAdmin === 1) { %>
        <button class="profile-btn" id="adult-verify-request-list">
          성인인증 요청 리스트 
        </button>
    <% } %>
    <!-- <button class="profile-btn" id="profile-alarm-col">알림</button> -->
    <span class="userId" id="userId" style="display: none"><%= user.id %></span>
  </div>

  <!-- 모달 창 -->
  <div id="mypage-update" class="modal">
    <!-- 모달 컨텐츠 -->
    <div class="modal-content">
      <span class="close update-close">&times;</span>
      <form id="profile-form">
        <label class="profile-update-img-label">
          <img
            src="<%= user.profileImage %>"
            alt="프로필사진"
            onerror="this.src='/logo_image/chillinker_logo(1).png'"
            class="profile-update-img"
            id="preview-img"
          />
          <input
            type="file"
            id="profile-update-img-input"
            name="profileImage"
            accept="image/*"
            style="display: none"
          /> </label
        ><br />
        <label for="nickname">닉네임:</label>
        <input
          type="text"
          id="nickname"
          name="nickname"
          value="<%= user.nickname %>"
        />

        <label for="intro">소개글:</label>
        <textarea id="intro" name="intro"><%= user.intro %></textarea>
        <input type="submit" value="저장" />
      </form>
    </div>
  </div>

  <!-- 모달 창 -->
  <% if(isAdmin === 0) { %>
  <div id="adult-verify" class="modal">
    <!-- 모달 컨텐츠 -->
    <div class="modal-content">
      <span class="close adult-close">&times;</span>
      <form id="adult-verify-form">
        <label for="registrationCardImage">주민등록증 사진:</label>
        <input
          type="file"
          id="registration-card-input"
          name="registrationCardImage"
          accept="image/*"
        />
        <br />
        <label for="birthDate">생년월일:</label>
        <input
          type="date"
          id="birthDate"
          name="birthDate"
          value="<%= user.birthDate %>"
        />
        <span class="msg">
          * 주민등록증 사진을 비롯한 수집된 정보는 성인인증 수락과 즉시 3일 내로
          폐기됩니다.
        </span>
        <input type="submit" value="요청하기" />
      </form>
    </div>
  </div>
  <% } %>
  <!-- <div id="alarm-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="alarm-list-wrapper">
        <ul class="alarm-list">
          <div>
            <li>어떤 작품의 댓글 좋아요 수 20개 돌파!</li>
          </div>
        </ul>
      </div>
    </div>
  </div> -->

  <!-- </main> -->
  <script src="/js/mypage-update.js"></script>
  <!-- <script src="/js/sse.js"></script> -->
  <%- include('footer.ejs') %>
</body>
