<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chillinker</title>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />
  <link rel="stylesheet" href="/css/style.css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
  </style>
  <script
    src="https://kit.fontawesome.com/0b832ce4c1.js"
    crossorigin="anonymous"
  ></script>
</head>

<body>
  <%- include('header.ejs') %>

  <div class="mypage-wrapper">
    <span class="material-symbols-outlined"
      ><a href="/users/mypage/update"> settings </a></span
    >
    <img src="<%= user.profileImage %>" class="profile-img" />
    <h2><%= user.nickname %></h2>
    <h5><span class="profile-intro"><%= user.intro %></span></h5>
    <button class="profile-btn" onclick="">팔로잉/팔로워</button>
    <button class="profile-btn" onclick="">내 리뷰</button>
    <button class="profile-btn" onclick="">보고싶어요/보는중</button>
    <button class="profile-btn" onclick="">내 컬렉션</button>
    <button class="profile-btn" onclick="">내가 북마크한 컬렉션</button>
  </div>

  <%- include('footer.ejs') %>
</body>
