<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chillinker</title>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />
  <link rel="stylesheet" href="/css/style.css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
  </style>
  <script
    src="https://kit.fontawesome.com/0b832ce4c1.js"
    crossorigin="anonymous"
  ></script>
  <link
    rel="icon"
    type="image/png"
    sizes="16×16"
    href="/logo_image/favicon-16x16.png"
  />
</head>

<body>
  <%- include('header.ejs') %>

  <div class="mypage-wrapper">
    <span class="material-symbols-outlined" id="profile-edit-btn">
      settings
    </span>
    <!-- <span class="material-symbols-outlined"
      ><a href="/users/mypage/update"> settings </a></span
    > -->
    <img
      src="<%= user.profileImage %>"
      alt="/logo_image/chillinker_logo(2).png"
      class="profile-img"
    />
    <h2><%= user.nickname %></h2>
    <h5><span class="profile-intro"><%= user.intro %></span></h5>
    <button class="profile-btn-small" id="profile-following">팔로잉</button>
    <button class="profile-btn-small" id="profile-follower">팔로워</button>
    <button class="profile-btn" id="profile-review">내 리뷰</button>
    <button class="profile-btn" id="profile-like">보고싶어요</button>
    <button class="profile-btn" id="profile-col">내 컬렉션</button>
    <button class="profile-btn" id="profile-bookmark-col">
      내가 북마크한 컬렉션
    </button>
  </div>

  <!-- 모달 창 -->
  <div id="mypage-update" class="modal">
    <!-- 모달 컨텐츠 -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form id="profile-form">
        <label class="profile-update-img-label">
          <img
            src="<%= user.profileImage %>"
            alt="/logo_image/chillinker_logo(2).png"
            class="profile-update-img" />
          <input
            type="file"
            id="profile-update-img-input"
            name="profileImage"
            accept="image/*"
            style="display: none" /></label
        ><br />
        <label for="nickname">닉네임:</label>
        <input
          type="text"
          id="nickname"
          name="nickname"
          value="<%= user.nickname %>"
        /><br />
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" /><br />

        <label for="intro">소개글:</label>
        <textarea id="intro" name="intro"><%= user.intro %></textarea>
        <input type="submit" value="저장" />
      </form>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/mypage-update.js"></script>

  <%- include('footer.ejs') %>
</body>
