<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contents Reviewed List</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/reviewed_list.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="16×16"
      href="/logo_image/favicon-16x16.png"
    />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
    </style>
    <script
      src="https://kit.fontawesome.com/0b832ce4c1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrap">
      <%- include('header.ejs') %>
      <main>
        <div class="inner">
          <div class="category">
            <ul>
              <li><a href="#">웹소설</a></li>
              <li><a href="#">웹툰</a></li>
            </ul>
          </div>
          <div class="contents_container">
            <% reviewedWorks.forEach(review => { %>
            <div class="content">
              <a href="#">
                <img
                  src="<%= review.image %>"
                  alt="썸네일"
                />
              </a>
              <a href="#">
                <div class="bottom_box">
                  <p class="title"><%= review.title %></p>
                  <p class="rate">나의 평점: <%= review.rate %></p>
                </div>
              </a>
            </div>
            <% }); %>
          </div>
        </div>
      </main>
      <%- include('footer.ejs') %>
    </div>
  </body>
</html>
