<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chillinker</title>
    <link rel="stylesheet" href="css/style.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
    </style>
    <script
      src="https://kit.fontawesome.com/0b832ce4c1.js"
      crossorigin="anonymous"
    >
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="icon"
      type="image/png"
      sizes="16×16"
      href="/logo_image/favicon-16x16.png"
    />
  </head>
  <body>
    <%- include('header.ejs') %>
    <div class="wrap">
      <div
        class="search_input_bar"
        style="height: 50px; background-color: #f5f5fa; padding: 15px"
      >
        <div class="search_input_text">"<%= keyword %>"의 검색결과</div>
      </div>
    <main style="width: 1200px; height: auto; margin: 0px auto 0px auto">
        <div class="search_btn_bar">
          <ul class="search_bar_list" style="display: flex; padding: 15px">
            <li class="search_btn1" style="margin-right: 10px;">
              <a href="/search?type=webnovels&query=<%= keyword %>">웹소설</a>
            </li>
            <li class="search_btn2"  style="margin-right: 10px;">
              <a href="/search?type=webtoons&query=<%= keyword %>">웹툰</a>
            </li>
            <li class="search_btn3"  style="margin-right: 10px;">
              <a href="/search?type=authors&query=<%= keyword %>">작가</a>
            </li>
            <li class="search_btn4"  style="margin-right: 10px;">
              <a href="/search?type=users&query=<%= keyword %>">유저</a>
            </li>
            <li class="search_btn5" style="margin-right: 10px;">
              <a href="/search?type=collections&query=<%= keyword %>">컬렉션</a>
            </li>
          </ul>
        </div>
        <div class="search-dk-block-title">
        </div>
        <div class="result_section">
          <ul class="result_section_list">
            <% if (!keyword) { %>
            <div class="empty_search">
              <p>검색어를 입력하세요.</p>
            </div>
            <% } %>
            <% if (type == 'webtoons') { %>
              <div class="result_list">
                <% webtoons.forEach((item) => { %>
                  <li class="searched-card" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                    <a title = <%= item.title %> href = "javascript:void(0);">
                      <div class="searched-card-image">
                        <img class="searched-card-thumbnail" src="<%= item.image %>"  />
                      </div>
                      <div class="searched-card-info">
                        <div class="card-info-title">
                          <% if (item.title.length > 14) { %>
                            <%= item.title.slice(0, 14) + '...' %>
                          <% } else { %>
                            <%= item.title %>
                          <% } %>
                        </div>
                        <div class="card-info-card_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <%= %>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </div>
                        <div class="card-info-star">별점:<%= item.starRate %></div>
                      </div>
                    </a>
                  </li>
                <% }); %>
              </div>
            <% } else if (type == 'authors') { %>
              <div class="result_list">
                <% authors.forEach((item) => { %>
                  <li class="searched-card">
                    <a title = <%= item.title %> href="/books/<%= item.webContents_id %>">
                      <div class="searched-card-image">
                        <img class="searched-card-thumbnail" src="<%= item.webContents_image %>" alt="<%= item.webContents_title %>"/>
                      </div>
                      <div class="searched-card-info">
                        <div class="card-info-title">
                          <% if (item.webContents_title.length > 14) { %>
                            <%= item.webContents_title.slice(0, 14) + '...' %>
                          <% } else { %>
                            <%= item.webContents_title %>
                          <% } %>
                        </div>
                        <div class="card-info-card_author">
                            <% const arr = item.webContents_author.split(',') %>
                            <% let role = arr[0].split('/')[0] %>
                            <% const name = arr[0].split('/')[1] %>
                            <% if(role == 'author' ){ %>
                              <% role = '글' %>
                              <% }else if(role =='illustrator'){ %>
                                <% role = '그림' %>
                                <% }else if(role =='original_author'){ %>
                                  <% role = '원작' %>
                                  <% }else if(role =='Author'){ %>
                                    <% role = '글/그림' %>
                                    <% }else{ %>
                                      <% role = '작가' %>
                                      <% }%>
                            <%= %>
                            <span class="metadata-item- author-item-wrapper">
                              <span class="author-detail"><%= name %></span> <%= role %>
                             </span>
                        </div>
                        <div class="card-info-star">별점:<%= item.starRate %></div>
                      </div>
                    </a>
                  </li>
                  <% }); %>
                </div>
              <% } else if (type == 'users') { %> 
                <ul class="result_list" >
                  <% users.forEach((item) => { %>
                  <li class="search-card">
                    <a href="/users/<%= item.users_id %>">
                    <img
                    src="<%= item.users_profile_image %>"
                    alt="프로필사진"
                    onerror="this.src='/logo_image/chillinker_logo(1).png'"
                    class="profile-img" />
                    <div class="card-info">
                      <div class="card-info-title" style="font-weight: 600;"><%= item.users_nickname %></div>
                      <h4 class="card_author">
                        <% if (item.users_intro.length > 14) { %>
                          <%= item.users_intro.slice(0, 14) + '...' %>
                        <% } else if (item.users_intro) { %>
                          <%= item.users_intro %>
                        <% } else { %>
                        소개가 없습니다.
                        <% } %>
                      </h4>
                    </div>
                    </a>
                  </li>
                  <% }); %>
                </ul>
              <% } else if (type == 'collections') { %>
                <div class="result_list" >
                  <% collections.forEach((item) => { %>
                  <div class="search-card">
                    <a href="#" class="card">
                    <img src=" https://img.freepik.com/free-photo/cute-dog-with-glasses-sitting-on-books_23-2148917261.jpg " alt="<%= item.title %>" class="card-thumbnail-image" >
                    <div class="card-info">
                      <h3 class="card-info-title" style="font-weight: 600;"><%= item.collections_title %></h3>
                      <h4 class="card_author">
                         <% if (item.collections_desc.length > 10) { %>
                          <%= item.collections_desc.slice(0, 10) + '...' %>
                          <% } else { %>
                            <%= item.collections_desc %>
                          <% } %>
                      </h4>
                    </div>
                    </a>
                  </div>
                  <% }); %>
                </div>
              <% } else { %>
                <div class="result_list">
                  <% webnovels.forEach((item) => { %>
                  <li class="searched-card" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                    <a title = <%= item.title %> href="javascript:void(0);">
                      <div class="searched-card-image">
                        <img class="searched-card-thumbnail" src="<%= item.image %>" alt="<%= item.title %>"/>
                      </div>
                      <div class="searched-card-info">
                        <div class="card-info-title">
                          <% if (item.title.length > 14) { %>
                            <%= item.title.slice(0, 14) + '...' %>
                          <% } else { %>
                            <%= item.title %>
                          <% } %>
                        </div>
                        <div class="card-info-card_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </div>
                        <div class="card-info-star">별점:<%= item.starRate %></div>
                      </div>
                    </a>
                  </li>
                  <% }); %>
                </div>
              <% } %>
          </ul>
        </div>
    </main>
    <footer>
      <ul>
        <li>
          <a href="https://github.com/choobao/chillinker">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <p>Copyright © 2024 회빙환. All rights reserved.</p>
    </footer>
    </div>
    <script src="/js/adult_blind.js"></script>
  </body>
</html>
