<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chillinker</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="/css/frame.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
    </style>
    <script
      src="https://kit.fontawesome.com/0b832ce4c1.js"
      crossorigin="anonymous"
    >
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="icon"
      type="image/png"
      sizes="16×16"
      href="/logo_image/favicon-16x16.png"
    />
  </head>
  <body>
    <%- include('header.ejs') %>
    <div class="wrap">
      <div
        class="search_input_bar"
        style="height: 50px; background-color: #f5f5fa; padding: 15px"
      >
      <div class="search-wrapper" style="width: 1200px;  margin: auto;">
        <div class="search_input_text">"<%= keyword %>"의 검색결과</div>
      </div>
      </div>
    <main style="width: 1200px; height: auto; margin: 0px auto 0px auto">
        <div class="search_btn_bar">
          <ul class="search_bar_list" style="display: flex; padding: 15px">
            <li class="search_btn1" style="margin-right: 10px;">
              <a href="/search?type=webnovels&query=<%= keyword %>">웹소설</a>
            </li>
            <li class="search_btn2"  style="margin-right: 10px;">
              <a href="/search?type=webtoons&query=<%= keyword %>">웹툰</a>
            </li>
            <li class="search_btn3"  style="margin-right: 10px;">
              <a href="/search?type=authors&query=<%= keyword %>">작가</a>
            </li>
            <li class="search_btn4"  style="margin-right: 10px;">
              <a href="/search?type=users&query=<%= keyword %>">유저</a>
            </li>
            <li class="search_btn5" style="margin-right: 10px;">
              <a href="/search?type=collections&query=<%= keyword %>">컬렉션</a>
            </li>
            <li class="search_btn6" style="margin-right: 10px;">
              <a href="/search?type=ck&query=<%= keyword %>">키워드</a>
            </li>
          </ul>
        </div>
        <div class="search-dk-block-title">
        </div>
        <div class="result_section">
          <ul class="result_section_list">
            <% if (!keyword) { %>
            <div class="empty_search">
              <p>검색어를 입력하세요.</p>
            </div>
            <% } %>
            <% if (type == 'webtoons') { %>
              <div class="result_list">
                <% if(webtoons.length === 0) { %>
                  <div class="no-result">검색 결과가 없습니다</div>
                <% } else { %>
                <% webtoons.forEach((item) => { %>
                  <li class="searched-card" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                    <a title = <%= item.title %> href = "javascript:void(0);">
                      <div class="searched-card-image">
                        <img class="searched-card-thumbnail" src="<%= item.image %>"  />
                      </div>
                      <div class="searched-card-info">
                        <div class="card-info-title">
                          <% if (item.title.length > 14) { %>
                            <%= item.title.slice(0, 14) + '...' %>
                          <% } else { %>
                            <%= item.title %>
                          <% } %>
                        </div>
                        <div class="card-info-card_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <%= %>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </div>
                        <div class="card-info-star">별점:<%= item.starRate %></div>
                      </div>
                    </a>
                  </li>
                <% }); %>
              <% } %>
              </div>
            <% } else if (type == 'authors') { %>
              <div class="result_list">
                <% if(authors.length === 0) { %>
                  <div class="no-result">검색 결과가 없습니다</div>
                <% } else { %>
                <% authors.forEach((item) => { %>
                  <li class="searched-card" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                    <a href="javascript:void(0);"> 
                      <div class="searched-card-image">
                        <img class="searched-card-thumbnail" src="<%= item.image %>" alt="<%= item.title %>"/>
                      </div>
                      <div class="searched-card-info">
                        <div class="card-info-title">
                          <% if (item.title.length > 14) { %>
                            <%= item.title.slice(0, 14) + '...' %>
                          <% } else { %>
                            <%= item.title %>
                          <% } %>
                        </div>
                        <div class="card-info-card_author">
                            <% const arr = item.author.split(',') %>
                            <% let role = arr[0].split('/')[0] %>
                            <% const name = arr[0].split('/')[1] %>
                            <% if(role == 'author' ){ %>
                              <% role = '글' %>
                              <% }else if(role =='illustrator'){ %>
                                <% role = '그림' %>
                                <% }else if(role =='original_author'){ %>
                                  <% role = '원작' %>
                                  <% }else if(role =='Author'){ %>
                                    <% role = '글/그림' %>
                                    <% }else{ %>
                                      <% role = '작가' %>
                                      <% }%>
                            <%= %>
                            <span class="metadata-item- author-item-wrapper">
                              <span class="author-detail"><%= name %></span> <%= role %>
                             </span>
                        </div>
                        <div class="card-info-star">별점:<%= item.starRate %></div>
                      </div>
                    </a>
                  </li>
                  <% }); %>
                  <% } %>
                </div>
              <% } else if (type == 'users') { %> 
                <ul class="result_list">
                  <% if(users.length === 0) { %>
                    <div class="no-result">검색 결과가 없습니다</div>
                  <% } else { %>
                  <% users.forEach((item) => { %>
                  <li class="search-card">
                    <a href="/users/<%= item.users_id %>">
                    <img
                    src="<%= item.users_profile_image %>"
                    alt="프로필사진"
                    onerror="this.src='/logo_image/chillinker_logo(1).png'"
                    class="profile-img" />
                    <div class="card-info">
                      <div class="card-info-title" style="font-weight: 600;"><%= item.users_nickname %></div>
                      <h4 class="card_author">
                        <% if (item.users_intro.length > 14) { %>
                          <%= item.users_intro.slice(0, 14) + '...' %>
                        <% } else if (item.users_intro) { %>
                          <%= item.users_intro %>
                        <% } else { %>
                        소개가 없습니다.
                        <% } %>
                      </h4>
                    </div>
                    </a>
                  </li>
                  <% });  %>
                  <% } %>
                </ul>
              <% } else if (type == 'collections') { %>
                <div class="result_list">
                  <% if(collections.length === 0) { %>
                    <div class="no-result">검색 결과가 없습니다</div>
                  <% } else { %>
                  <% collections.forEach((item) => { %>
                  <div class="search-card">
                    <a href="/collections/info/<%= item.collections_id %>" class="card">
                    <img src="<%= item.collections_cover_image %>" alt="<%= item.title %>" 
                    class="card-thumbnail-image"
                    onerror="this.src='/images/readCollection.png'" >
                    <div class="card-info">
                      <h3 class="card-info-title" style="font-weight: 600;"><%= item.collections_title %></h3>
                      <h4 class="card_author">
                         <% if (item.collections_desc.length > 10) { %>
                          <%= item.collections_desc.slice(0, 10) + '...' %>
                          <% } else { %>
                            <%= item.collections_desc %>
                          <% } %>
                      </h4>
                    </div>
                    </a>
                  </div>
                  <% }); %>
                  <% } %>
                </div>
                <% } else if (type == 'ck') { %>
                  <div class="result_list">
                    <% if(ck.length === 0) { %>
                      <div class="no-result">검색 결과가 없습니다</div>
                    <% } else { %>
                    <% ck.forEach((item) => { %>
                      <li class="searched-card" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                        <a href="javascript:void(0);"> 
                          <div class="searched-card-image">
                            <img class="searched-card-thumbnail" src="<%= item.image %>" alt="<%= item.title %>"/>
                          </div>
                          <div class="searched-card-info">
                            <div class="card-info-title">
                              <% if (item.title.length > 14) { %>
                                <%= item.title.slice(0, 14) + '...' %>
                              <% } else { %>
                                <%= item.title %>
                              <% } %>
                            </div>
                            <div class="card-info-card_author">
                                <% const arr = item.author.split(',') %>
                                <% let role = arr[0].split('/')[0] %>
                                <% const name = arr[0].split('/')[1] %>
                                <% if(role == 'author' ){ %>
                                  <% role = '글' %>
                                  <% }else if(role =='illustrator'){ %>
                                    <% role = '그림' %>
                                    <% }else if(role =='original_author'){ %>
                                      <% role = '원작' %>
                                      <% }else if(role =='Author'){ %>
                                        <% role = '글/그림' %>
                                        <% }else{ %>
                                          <% role = '작가' %>
                                          <% }%>
                                <%= %>
                                <span class="metadata-item- author-item-wrapper">
                                  <span class="author-detail"><%= name %></span> <%= role %>
                                 </span>
                            </div>
                            <div class="card-info-star">별점:<%= item.starRate %></div>
                          </div>
                        </a>
                      </li>
                      <% }); %>
                      <% } %>
                    </div>
              <% } else { %>
                <div class="result_list">
                  <% if(webnovels.length === 0) { %>
                    <div class="no-result">검색 결과가 없습니다</div>
                  <% } else { %>
                  <% webnovels.forEach((item) => { %>
                  <li class="searched-card" onclick="gotoBookDetail('<%= item.id %>', '<%= item.isAdult %>', '<%= userInfo.isAdult %>')">
                    <a title = <%= item.title %> href="javascript:void(0);">
                      <div class="searched-card-image">
                        <img class="searched-card-thumbnail" src="<%= item.image %>" alt="<%= item.title %>"/>
                      </div>
                      <div class="searched-card-info">
                        <div class="card-info-title">
                          <% if (item.title.length > 14) { %>
                            <%= item.title.slice(0, 14) + '...' %>
                          <% } else { %>
                            <%= item.title %>
                          <% } %>
                        </div>
                        <div class="card-info-card_author">
                          <% const arr = item.author.split(',') %>
                          <% let role = arr[0].split('/')[0] %>
                          <% const name = arr[0].split('/')[1] %>
                          <% if(role == 'author' ){ %>
                            <% role = '글' %>
                            <% }else if(role =='illustrator'){ %>
                              <% role = '그림' %>
                              <% }else if(role =='original_author'){ %>
                                <% role = '원작' %>
                                <% }else if(role =='Author'){ %>
                                  <% role = '글/그림' %>
                                  <% }else{ %>
                                    <% role = '작가' %>
                                    <% }%>
                          <span class="metadata-item- author-item-wrapper">
                            <span class="author-detail"><%= name %></span> <%= role %>
                           </span>
                        </div>
                        <div class="card-info-star">별점:<%= item.starRate %></div>
                      </div>
                    </a>
                  </li>
                  <% }); %>
                  <% } %>
                </div>
              <% } %>
          </ul>
        </div>
        <nav aria-label="Page navigation example" class="paginnation-wrapper">
          <ul class="pagination">
            <li class="page-item"><a class="page-link-back" href="#"><</a>&nbsp;&nbsp;&nbsp;</li>
            <span class="page-item-num"></span>
            <li class="page-item"><a class="page-link-forward" href="#">></a>&nbsp;&nbsp;&nbsp;</li>
          </ul>
        </nav>
    </main>
    <footer>
      <ul>
        <li>
          <a href="https://github.com/choobao/chillinker">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <p>Copyright © 2024 회빙환. All rights reserved.</p>
    </footer>
    </div>
    <button class="top_btn" id="top-btn">↑</button>
    <script src="/js/adult_blind.js"></script>
    <script>
 window.onload = function() {
    const urlParams = new URLSearchParams(window.location.search);
    const type = urlParams.get('type');

    if (type) {
        const selectedBtn = document.querySelector(`.search_btn_bar a[href*="type=${type}"]`).parentElement; 
        selectedBtn.classList.add('selected');
        
    } else {
        const webnovelBtn = document.querySelector('.search_btn1 a').parentElement;
        webnovelBtn.classList.add('selected');
    }  

    const currPage = parseInt(urlParams.get('page'), 10) || 1; 
    const query = urlParams.get('query');
    
    var listItems = document.querySelectorAll('.searched-card');

    if (currPage && currPage > 1) { 
        const pageLinkBack = document.querySelector('.page-link-back');
        if (pageLinkBack) { 
            pageLinkBack.setAttribute('href', `/search?query=${query}&type=${type}&page=${currPage-1}`);
        }
    }

    if (currPage && currPage < 2) { // 현재 페이지가 1페이지인 경우
        const prevPageButton = document.querySelector('.page-link-back');
        if (prevPageButton) {
            prevPageButton.removeAttribute('href'); // 이전 버튼의 링크 제거하여 비활성화
            prevPageButton.style.pointerEvents = 'none'; // 이전 버튼의 클릭 이벤트 비활성화
            prevPageButton.style.opacity = '0.5'; // 이전 버튼 회색으로 표시하여 비활성화 효과 부여
        }
    }

    if (currPage) { 
        const pageLinkForward = document.querySelector('.page-link-forward'); 
        if (pageLinkForward) { 
            pageLinkForward.setAttribute('href', `/search?query=${query}&type=${type}&page=${currPage+1}`);
        }
    }

    const pageItemNum = document.querySelector('.page-item-num');
    if (pageItemNum) { 
        pageItemNum.textContent = currPage; // 현재 페이지 번호 업데이트
    }

    // 만약 listItems.length가 30보다 작으면 다음 버튼을 비활성화
    const nextPageButton = document.querySelector('.page-link-forward');
    if (listItems.length < 30 && nextPageButton) {
        nextPageButton.removeAttribute('href'); // 다음 버튼의 링크를 제거하여 비활성화
        nextPageButton.style.pointerEvents = 'none'; // 다음 버튼의 클릭 이벤트를 비활성화
        nextPageButton.style.opacity = '0.5'; // 다음 버튼을 회색으로 표시하여 비활성화 효과 부여
    }
}
      $(document).ready(function () {
        // Top 버튼 특정 스크롤높이에서만 보이기 / 숨기기
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
            $('#top-btn').fadeIn();
          } else {
            $('#top-btn').fadeOut();
          }
        });

        // Top 버튼 클릭시 페이지 상단으로 이동
        $('#top-btn').click(function () {
          $('html, body').animate({ scrollTop: 0 }, 800);
          return false;
        });
      })
    </script>
  </body>
</html>
